.todo {
  width: 100%;
  height: 26px;
  padding: 10px;
  position: relative;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.todoCompleted{
  width: 100%;
  height: 26px;
  padding: 10px;
  position: relative;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: line-through;
}

input[id="todoCheck"] + label{
  width: 20px;
  height: 20px;
  border: 1px solid gainsboro;
  cursor: pointer;
}

.content{
  display: inline-block;
  padding-left: 10px;
}

.removeBtn{
  position: absolute;
  font-size: 20px;
  top: 3px;
  right: 20px;
  color: white;
  border-radius: 100%;
  padding: 3px;
  background-color: darkgrey;
}

.removeBtn:hover{
  border: 1.5px solid grey;
}