.todo {
  width: 100%;
  height: 26px;
  /* padding-top: 32px; */
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.content{
  padding-left: 10px;
}

.removeBtn{
  position: absolute;
  font-size: 20px;
  /* top: 20px; */
  right: 20px;
  color: white;
  border-radius: 100%;
  padding: 3px;
  background-color: darkgrey;
}

.removeBtn:hover{
  border: 1.5px solid grey;
}