.todo {
  width: 100%;
  height: 26px;
  position: relative;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.removeBtn{
  position: absolute;
  top: 3px;
  right: 30px;
}