
* {
  text-align: center;
}

p {
  font-weight: bolder;
}

li{
  background-color: lightcyan;
  border: 1px solid lightgray;
}
button {
  width: 300px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
}
