header {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.filterBtns{
  position: absolute;
  right: 0;
}
.filterBtns button{
  color: orange;
  font-weight: bold;
}
