header {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

.filterBtns{
  position: absolute;
  right: 20px;
}
.filterBtns button{
  color: orange;
  font-weight: bold;
}
