.nameCard{
  width: 500px;
  height: 300px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightyellow;
  margin: 10px;
}

.profileImage{
  box-sizing: border-box;
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 20px;
  object-fit: cover;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.isNew{
  width: 30px;
  background-color: orange;
  border-radius: 10%;
}