.cart {
  position: relative;
}
.cartStatus {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -20px;
  right: -10px;
  font-size: 14px;
  text-align: center;
  background-color: #ef4b3f;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}