.header{
  background-color: black;
  height: 60px;
}

.logo{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  left: 30px;
}
.searchBox{
  height: 30px;
  left: 100px;
  margin: auto;
}