button {
  background-color: transparent;
  outline: none;
  border: none;
}
.header{
  background-color: wheat;
  height: 60px;
  display: flex;
  align-items: center;
}

.logo{
  font-size: 30px;
  left: 30px;
}
.searchBox{
  width: 600px;
  height: 30px;
  position: relative;
  left: 200px;
}

.searchBtn{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: grey;
}