.header{
  background-color: black;
  height: 60px;
}

.logo{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  text-align: center;
}
.searchBox{
  height: 30px;
}