.header{
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
}

.logo{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  left: 30px;
}
.searchBox{
  width: 600px;
  height: 30px;
  position: relative;
  left: 200px;
}

.searchBtn{
  background-color: grey;
}