.header{
  background-color: black;
  height: 60px;
}

.logo{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  left: 30px;
}
.searchBox{
  width: 600px;
  height: 30px;
  position: relative;
  margin:auto;
}