.footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  width: 90%;
  height: 25px;
}

.todoInput input{
  width: 85%;
  height: 100%;
  outline: none;
  border:none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0;
}

.todoInput button{
  width: 15%;
  height: 100%;
  padding: 0;
  background-color: orange;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 12px;
}




