.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
  border-bottom: 1px solid #efefef;

  padding-left: 10%;
  padding-right: 10%;
}

.logoAndMenu{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
}

.menuList > li {
  padding-left: 10px;
}


.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user > a {
  padding-top: 2px;
  padding-right: 20px;
  font-size: 20px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.userName {
  font-size:14px;
  padding-left: 4px;
  padding-right: 10px;
}