button {
  outline: none;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

header {
  height: 40px;
  display: flex;
  align-items: center;
}

.todoBox{
  background-color: #28345c;
  width: 400px;
  height: 400px;
}

.todoList{
  background-color: #485da4;
  height: 320px;
}

.footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  width: 90%;
}

.todoInput input{
  width: 80%;
}

.todoInput button{
  background-color: orange;
  color: white;
}





