*{
  box-sizing: border-box;
}

button {
  outline: none;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.todoBox{
  background-color: #28345c;
  width: 400px;
  height: 400px;
  position: absolute;
  top:20%;
  left: 40%;
  border-radius: 10px;
  border-top-right-radius: 10px;
}

.todoList{
  background-color: #485da4;
  height: 320px;
}

.footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  width: 90%;
  height: 25px;
}

.todoInput input{
  width: 85%;
  height: 100%;
  outline: none;
  border:none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.todoInput button{
  width: 15%;
  height: 100%;
  background-color: orange;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}





