*{
  box-sizing: border-box;
}

button {
  outline: none;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.todoBox{
  background-color: #28345c;
  width: 400px;
  height: 400px;
  position: absolute;
  top:20%;
  left: 40%;
  border-radius: 10px;
}

.todoList{
  background-color: #485da4;
  height: 320px;
  margin: 0;
}


