button {
  outline: none;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.todoBox{
  background-color: #28345c;
  width: 500px;
  height: 
}

.todoList{
  background-color: #7c8cbc;
}

